<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/297873/screenshots/8073931/media/4a73b29a406ab2b9c9bb5ad78224ded8.jpg);">
  <div class="container">
    <h1>Your favorite cocktail <strong>by beers lovers</strong> to <strong>creative people who likes beers </strong></h1>
    <p>Change your life and bois de la biere</p>
    <%= link_to 'Add a new cocktail', new_cocktail_path, class: "btn btn-ghost" %>
  </div>
</div>
