<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), assets-url('cocktails dessin.jpg');">
  <div class="container">
    <h1>Your favorite cocktail <strong>by beers lovers</strong> to <strong>creative people who likes beers </strong>!</h1>
    <p>Change your life and learn to a cocktail with beers !</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
