<%= render "components/banner" %>

<div class="cocktail-container container mt-3 mb-4" id="list-cocktail">
  <div class="row justify-content-around">
    <%= render "components/card" %>
  </div>
</div>
